.home {
    display: flex;

    .homeContainer {
        
        flex: 6;

        .widgets, .charts {
            display: flex;
            padding: 20px; //give 20px space at top, left, bottom and right
            gap: 20px;
        }

        .charts {
            padding: 5px 20px;

        }
    }
}